@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-text);
}
h1 {
  font-family: var(--font-montserrat);
}
h2,
h3 {
  font-family: var(--font-lora);
}
body {
  font-family: var(--font-text);
}

.copied {
  display: none;
}

iframe[title="X Post"] {
  width: 100% !important;
  border-radius: 12px;
}
.white-btn {
  border: 1px solid #d0d0d0;
  background: #f0f0f0;
  box-shadow: 1px 1px 3px 0px #fff inset,
    -1px -1px 5px 0px rgba(0, 0, 0, 0.1) inset;
}
